<body class="homepage_contact">
  <div class="background_contact">
    <div class="contact_container">
      <div class="contact_title container">
        <h1>CONTACT</h1>
        <hr>
        <p>Feel free to Contact me by submitting the form below and I will get back to you as soon as possible</p>
      </div>
      <div class="contact_form container">
        <form action="https://formsubmit.co/9ac544c150683368d38cb564bfe322b6" method="POST">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="First name" class="form-label">Enter your first name</label>
            <input type="text" class="form-control" name="First name" placeholder="First name" aria-label="First name" required>
          </div>
          <div class="col-md-6">
            <label for="Last name" class="form-label">Enter your last name</label>
            <input type="text" class="form-control" name="Last name" placeholder="Last name" aria-label="Last name" required>
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="Email" class="form-label">Enter your email</label>
            <input type="email" class="form-control" name="Email" placeholder="Enter your email" aria-label="Email" required>
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="message" class="form-label">Enter your message</label>
            <textarea placeholder="Enter your message" class="form-control" name="message" rows="5" required></textarea>
          </div>
        </div>
        <div class="row g-3">
          <button class="button button_contact" type="submit">Submit</button>
          <input type="text" name="_honey" style="display:none">
          <input type="hidden" name="_next" value="https://portfoliosebverbist.herokuapp.com/#contact">
          <input type="hidden" name="_captcha" value="false">
        </div>
        </form>
      </div>
    </div>
  </div>
</body>
