<footer class="footer">
    <div class="name_and_socials row">
      <div class="footer_name col-sm-8">
        <h3>SÉBASTIEN VERBIST</h3>
        <p>I'm a full stack webdeveloper with a preference for Frontend.
          Building your Websites and Web Applications from scratch.</p>
      </div>
      <div class="footer_socials col-sm-4">
        <h3>SOCIALS</h3>
        <a href="https://www.linkedin.com/in/sebastien-verbist"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/SebVerbist"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="footer-copyright">
      This was made with <i class="fas fa-heart"></i> by <a href="#home">Sébastien Verbist</a>
    </div>
</footer>
