<body class="homepage_body">
  <div class="background_homepage">
    <div class="content_intro">
      <div class="homepage_title">
        <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1664138244/Portfolio/Capture_d_e%CC%81cran_2022-09-15_a%CC%80_11.50.36_preview_rev_1_ussau5.png" alt="Sébastien Verbist">
        <h1>HEY, I'M SÉBASTIEN</h1>
      </div>
      <div class="homepage_text">
        <p>I'm a <span class="strong">full stack webdeveloper</span> with a preference for <span class="strong">Frontend</span>.
      Building your Websites and Web Applications from scratch.</p>
      </div>
      <a class="button homepage_button" href="#projects">MY PROJECTS</a>
    </div>

    <div class="logos_link">
      <a href="https://www.linkedin.com/in/sebastien-verbist">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/SebVerbist">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</body>
