<body class="homepage_body">
  <div class="background_homepage">
    <div class="container content_intro">
      <div class="homepage_title">
        <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1664138244/Portfolio/Capture_d_e%CC%81cran_2022-09-15_a%CC%80_11.50.36_preview_rev_1_ussau5.png" alt="Sébastien Verbist">
        <h1>HEY, I'M SÉBASTIEN</h1>
      </div>
      <div class="homepage_text">
        <p>I'm a full stack Web Developer, with a preference for Frontend, building your Websites and Web Applications that leads to the success of the overall product</p>
      </div>
      <button class="button homepage_button">MY PROJECTS</button>
    </div>

    <div class="logos_link">
      <a href="https://www.linkedin.com/in/sebastien-verbist">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/SebVerbist">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</body>
