<body class="homepage_projects">
  <div class="background_projects">
    <div class="projects_container">
      <div class="projects_title container">
        <h1>MY PROJECTS</h1>
        <p>Here you will find some of my personal projects that I created</p>
      </div>
      <div class="row container">
        <hr>
        <div class="image col-lg-7">
          <h2>Match-Me</h2>
          <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1664565762/Portfolio/Project_Match-Me_ont9io.png" alt="Project Match-Me">
        </div>
        <div class="Name_project col-lg-5">
          <h2>Match-Me</h2>
          <p><span class="strong">Match-Me</span> is a fully functional <span class="strong">matchmaking application</span> that wants to bring people
          together through <span class="strong">meaningful connections</span>. It aims to differ from traditional dating applications, especially
          the way they raise anxiety levels due to constant self-doubt. <span class="strong">A platform where anyone can get matched.</span></p>
          <div class="center_button_projects"><a href="project1" class="button button_project">More info</a></div>
        </div>
      </div>
      <div class="row container">
        <hr>
        <div class="image_phone">
          <h2>Phantasiabnb</h2>
          <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1664565914/Portfolio/Project_Phantasiabnb_il4o5b.png" alt="Project Phantasiabnb">
        </div>
        <div class="Name_project col-lg-5">
          <h2>Phantasiabnb</h2>
          <p><span class="strong">Phantasiabnb</span> is a clone of Airbnb that rents <span class="strong">famous fictional places</span>.</p>
          <div class="center_button_projects"><a href="project1" class="button button_project">More info</a></div>
        </div>
        <div class="image_not_phone col-lg-7">
          <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1664565914/Portfolio/Project_Phantasiabnb_il4o5b.png" alt="Project Phantasiabnb">
        </div>
      </div>
    </div>
  </div>
</body>
