<body class="homepage_body">
  <div class="background_homepage">
    <div class="container content_intro">
      <div class="homepage_title">
        <h1>HEY, I'M SÉBASTIEN VERBIST</h1>
      </div>
      <div class="homepage_text">
        <p>A full stack Web Developer, with a preference for Frontend, building your Websites and Web Applications that leads to the success of the overall product</p>
      </div>
      <button class="button homepage_button">PROJECTS</button>
    </div>

    <div class="logos_link">
      <a href="https://www.linkedin.com/in/sebastien-verbist">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/SebVerbist">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</body>
